# Ex2 - Обзор данных

TВ этот раз  данные будем брать напрямую из интернета.


### Шаг 1. импортируйте необходимые библиотеки

In [18]:
import pandas as pd

### Шаг 2. Импортируйте датасет [отсюда](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Шаг 3. Сохраните его в переменную chipo.

In [84]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

### Шаг 4. Выведите первые 10 строк

In [16]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Шаг 5. Сколько наблюдений в датасете?

In [20]:
# Solution 1

len(chipo)

4622

In [23]:
# Solution 2

chipo.shape[0]

4622

### Шаг 6. Сколько колонок в датасете?

In [24]:
chipo.shape[1]

5

### Шаг 7. Выведите названия всех колонок.

In [26]:
list(chipo.columns)

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### Шаг 8. как проиндексирован датасет?

In [27]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Шаг 9. Какой из товаров самый заказываемый?

In [41]:
chipo.item_name.mode()

0    Chicken Bowl
Name: item_name, dtype: object

### Шаг 10. Сколько раз был заказан самый заказываемый товар?

In [55]:
list(chipo.item_name.value_counts())[0]

726

### Шаг 12. Сколько всего товаров было заказано?

In [120]:
chipo.quantity.sum()

4972

### Шаг 13. Приведите стоимость товара к типу float

#### Шаг 13.a. Выведите тип данных цены

In [85]:
chipo.dtypes['item_price']

dtype('O')

#### Шаг 13.b. СОздайте лямбда-функцию и примените её к колонке цен

In [86]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x[1:]))

#### Шаг 13.c. Выведите тип данных цены

In [87]:
chipo.dtypes['item_price']

dtype('float64')

### Шаг 14. Какой доход был получен за время сбора датасета?

In [89]:
f'{chipo.item_price.sum()}$'

'34500.16$'

### Шаг 15. Сколько заказов было за этот период?

In [103]:
chipo.order_id.nunique()

1834

### Шаг 16. Какой средний доход за заказ?

In [119]:
# Solution 1

chipo.groupby('order_id')[['item_price']].sum().mean()

item_price    18.811429
dtype: float64

In [114]:
# Solution 2

chipo.item_price.sum() / chipo.order_id.nunique()

18.811428571428575

### Шаг 17. Сколько различных товаров было продано за всё время?

In [104]:
chipo.item_name.nunique()

50