# Задание 3 - обзор данных

В этот раз мы будем брать данные из интернета.


### Шаг 1. Импортируйте необходимые библиотеки

In [5]:
import pandas as pd

### Шаг 2. Возьмите датасет [отсюда](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Шаг 3. Сохраните данные в переменную users и используйте колонку 'user_id' в качестве индекса

In [12]:
users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', sep='|')
users.set_index('user_id')

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
...      ...    ...            ...      ...
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]

### Шаг 4. Выведите первые 25 строк

In [13]:
users.head(25)

    user_id  age gender     occupation zip_code
0         1   24      M     technician    85711
1         2   53      F          other    94043
2         3   23      M         writer    32067
3         4   24      M     technician    43537
4         5   33      F          other    15213
5         6   42      M      executive    98101
6         7   57      M  administrator    91344
7         8   36      M  administrator    05201
8         9   29      M        student    01002
9        10   53      M         lawyer    90703
10       11   39      F          other    30329
11       12   28      F          other    06405
12       13   47      M       educator    29206
13       14   45      M      scientist    55106
14       15   49      F       educator    97301
15       16   21      M  entertainment    10309
16       17   30      M     programmer    06355
17       18   35      F          other    37212
18       19   40      M      librarian    02138
19       20   42      F      homemaker    95660
20       21   26      M         writer    30068
21       22   25      M         writer    40206
22       23   30      F         artist    48197
23       24   21      F         artist    94533
24       25   39      M       engineer    55107

### Шаг 5. Выведите последние 10 строк

In [43]:
users.tail(10)

     user_id  age gender     occupation zip_code
933      934   61      M       engineer    22902
934      935   42      M         doctor    66221
935      936   24      M          other    32789
936      937   48      M       educator    98072
937      938   38      F     technician    55038
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

### Шаг 6. Сколько всего строк в датасете?

In [18]:
users.shape[0]

943

### Шаг 7. Сколько всего колонок в датасете?

In [19]:
users.shape[1]

5

### Шаг 8. Выведите названия всех колонок

In [21]:
list(users.columns)

['user_id', 'age', 'gender', 'occupation', 'zip_code']

### Шаг 9. Какая индексация у датасета?

In [22]:
users.index

RangeIndex(start=0, stop=943, step=1)

### Шаг 10. Для каждой колонки выведите тип данных этой колонки

In [24]:
users.dtypes

user_id        int64
age            int64
gender        object
occupation    object
zip_code      object
dtype: object

### Шаг 11. Выведите колонку occupation

In [25]:
users.occupation

0         technician
1              other
2             writer
3         technician
4              other
           ...
938          student
939    administrator
940          student
941        librarian
942          student
Name: occupation, Length: 943, dtype: object

### Шаг 12. Сколько всего профессий представлено в датасете?

In [26]:
users.occupation.nunique()

21

### Шаг 13. Какая самая популярная профессия?

In [27]:
users.occupation.mode()

0    student
Name: occupation, dtype: object

### Шаг 14. Выведите общую информацию о датасете (подсказка: функция describe).

In [29]:
users.describe()

          user_id         age
count  943.000000  943.000000
mean   472.000000   34.051962
std    272.364951   12.192740
min      1.000000    7.000000
25%    236.500000   25.000000
50%    472.000000   31.000000
75%    707.500000   43.000000
max    943.000000   73.000000

### Шаг 15. Выведите информацию по всем колонкам

In [35]:
users.describe(include='all')

           user_id         age gender occupation zip_code
count   943.000000  943.000000    943        943      943
unique         NaN         NaN      2         21      795
top            NaN         NaN      M    student    55414
freq           NaN         NaN    670        196        9
mean    472.000000   34.051962    NaN        NaN      NaN
std     272.364951   12.192740    NaN        NaN      NaN
min       1.000000    7.000000    NaN        NaN      NaN
25%     236.500000   25.000000    NaN        NaN      NaN
50%     472.000000   31.000000    NaN        NaN      NaN
75%     707.500000   43.000000    NaN        NaN      NaN
max     943.000000   73.000000    NaN        NaN      NaN

### Шаг 16. Выведите информацию о колонке occupation

In [36]:
users.occupation.describe()

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

### Шаг 17. Какой средний возраст пользователей?

In [37]:
users.age.mean()

34.05196182396607

### Шаг 18. Какой самый редкий возраст?

In [42]:
users.age.value_counts().tail(1)

age
73    1
Name: count, dtype: int64