# Grouping data

### Шаг 1. Импортируйте необходимые библиотеки

In [1]:
import pandas as pd

### Шаг 2. Создайте датафрейм со следующими значениями:

In [2]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'],
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'],
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'],
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

### Шаг 3. Сохраните в перменную regiment.

In [39]:
regiment = pd.DataFrame(raw_data)

### Шаг 4. Какое среднее значение у пременной preTestScore в строках где значение regiment равно Nighthawks?

In [7]:
regiment[regiment.regiment == 'Nighthawks'].preTestScore.mean()

15.25

### Шаг 6. Какое значение preTestScore для каждой компании?

In [22]:
regiment.groupby(['company']).preTestScore.sum()

company
1st    40
2nd    93
Name: preTestScore, dtype: int64

### Шаг 7. Выведите средние значения preTestScores, сгруппированные по переменным regiment и company

In [25]:
regiment.groupby(by=['regiment', 'company']).preTestScore.mean()

regiment    company
Dragoons    1st         3.5
            2nd        27.5
Nighthawks  1st        14.0
            2nd        16.5
Scouts      1st         2.5
            2nd         2.5
Name: preTestScore, dtype: float64

### Шаг 8. Выведите средние значения preTestScores, сгруппированные по переменным regiment и company без иерархической индексации

In [26]:
regiment.groupby(by=['regiment', 'company']).preTestScore.mean().to_string(index=False)

'regiment    company\n 3.5\n27.5\n14.0\n16.5\n 2.5\n 2.5'

### Шаг 9. Сгруппируйте датафрейм по переменным regiment и company

In [27]:
regiment.groupby(by=['regiment', 'company'])

### Шаг 10. Сколько наблюдений для каждого уникального значения переменных regiment и company

In [43]:
len(regiment.groupby(by=['regiment', 'company']))

6

### Шаг 11. Сгруппируйте данные по переменной regiment, проитерируйтесь по группе и выведите название и информацию в каждой группе

In [54]:
for i, j in regiment.groupby('regiment'):
  print(i, j)

Dragoons    regiment company    name  preTestScore  postTestScore
4  Dragoons     1st   Cooze             3             70
5  Dragoons     1st   Jacon             4             25
6  Dragoons     2nd  Ryaner            24             94
7  Dragoons     2nd    Sone            31             57
Nighthawks      regiment company      name  preTestScore  postTestScore
0  Nighthawks     1st    Miller             4             25
1  Nighthawks     1st  Jacobson            24             94
2  Nighthawks     2nd       Ali            31             57
3  Nighthawks     2nd    Milner             2             62
Scouts    regiment company   name  preTestScore  postTestScore
8    Scouts     1st  Sloan             2             62
9    Scouts     1st  Piger             3             70
10   Scouts     2nd  Riani             2             62
11   Scouts     2nd    Ali             3             70