# United States - Crime Rates - 1960 - 2014

### Шаг 1. Импортируйте необходимые библиотеки

In [ ]:
import pandas as pd

### Шаг 2. Импортируйте датасет [отсюда](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv).

### Шаг 3. Сохраните в переменную crime.

In [139]:
crime = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv')

### Шаг 4. Выведите типы данных по колонкам?

In [97]:
crime.dtypes

Year                  object
Population             int64
Total                  int64
Violent                int64
Property               int64
Murder                 int64
Forcible_Rape          int64
Robbery                int64
Aggravated_assault     int64
Burglary               int64
Larceny_Theft          int64
Vehicle_Theft          int64
dtype: object

##### Как вы могли заметить, тип данных Year - int64, но в пандасе есть отдельный тип

### Шаг 5. Приведите колонку Year к типу datetime64

In [140]:
crime['Year'] = pd.to_datetime(crime['Year'], format = "%Y")

### Шаг 6. Используйте колонку Year в качестве индекса датафрейма

In [141]:
crime = crime.set_index('Year')

### Шаг 7. Удалите колонку Total

In [142]:
crime = crime.drop(columns='Total')

### Шаг 8. Сгруппируйте датафрейм по декадам и выведите суммы колонок в пределах каждой группы

#### Обратите внимание на колонку Population, её суммировать не стоит (это нелогично)

In [143]:
crime['Decade'] = (crime.index.year//10)*10
crime.drop(['Population'], axis=1).groupby('Decade').sum()

,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Decade,,,,,,,,,
1960,4134930,45160900,106180,236720,1633510,2158520,13321100,26547700,5292100
1970,9607930,91383800,192230,554570,4159020,4702120,28486000,53157800,9739900
1980,14074328,117048900,206439,865639,5383109,7619130,33073494,72040253,11935411
1990,17527048,119053499,211664,998827,5748930,10568963,26750015,77679366,14624418
2000,13968056,100944369,163068,922499,4230366,8652124,21565176,67970291,11412834
2010,6072017,44095950,72867,421059,1749809,3764142,10125170,30401698,3569080

### Шаг 9. Какое наиболее опасное для жизни в США десятилетие?

In [151]:
crime.drop(['Population'], axis=1).groupby('Decade').sum().sum(axis=1)

Decade
1960     98591660
1970    201983370
1980    262246703
1990    273162730
2000    229828783
2010    100271792
dtype: int64